body{
  padding:25px;
}

p{
  margin:0px;
  font-size:12px;
}

img{
  border:0;
  height:120px;
}

div.row{
  margin-bottom:25px;
}

p.inv-num{
  text-align:right;
}

div.col-md-12.inv{
  color:white;
  background-color:#496d96;
}

div.col-md-6.col-md-offset-2.client{
  text-align:right;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
  position:relative;
  min-height:1px;
}

.date{
  padding:0px;
}

.h4, .h5, .h6, h4, h5, h6{
  margin-top:3px;
  margin-bottom:3px;
}

p.title{
  color:gray;
}

p .title{
  margin:0px;
  color:gray;
  font-size:12px;
}

.items thead{
  background-color:gray;
}

.table-item th{
  color:white;
}

.table-id{
  width:3%;
}

.table-item{
  width:35%;
}

td.table-quantity{
  width:15%;
}

.table-price{
  width:15%;
  text-align:right;
}

.table-discount{
  width:10%;
  text-align:right;
}

.table-live-total{
  text-align:right;
  width:15%;
}

.table-quantity{
  width:15%;
  text-align:right;
}

th{
}

.table-tax{
  width:7%;
  text-align:right;
}

.items th{
  color:white;
}

.items td{
  border-width:0px 0px 1px 0px;
  border-style:solid;
  border-color:#d3d3d3;
}

.tax td{
  border-width:1px;
  border-style:solid;
  border-color:white;
}

div.row.second{
  margin-bottom:0px;
}

.sanchez{
  font-family:'Sanchez', serif;
}

.payments{
  color:gray;
  margin-top:20px;
}

h2{
  font-size:3em;
  margin:0px;
}

h1{
  margin:0px;
  font-size:4em;
}

.no-padding{
  padding:0px;
}

.tax{
  border-width:1px;
  border-style:solid;
  border-color:white;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{
  padding:8px;
  border-top:0px;
}

